.GameButton {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.05em;
    color: #D7C844;

    background: radial-gradient(50% 50% at 50% 50%, #7E7736 0%, #2D283A 100%);
    border: 2px solid #000000;
}

.GameButton:hover {
    background: radial-gradient(50% 50% at 50% 50%, #7E7736 25%, #2D283A 100%);
}

.GameButton:active {
    background: radial-gradient(50% 50% at 50% 50%, #7E7736 50%, #2D283A 100%);
    transform: translateY(1px);
    border: 2px solid #7E7736;
}

.CardArrayBackground {
    background: #536367;
}

.CardSlotBackground {
    background: linear-gradient(180deg, #807B64 0%, #151631 100%);
    border-radius: 15px;
}

.ConsoleAccents {
    background: #6E7C85;
    border: 0.5px solid #9b6b6b;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 78px;
}

.ConsoleMetal {
    background: #A6B3C0;
    box-sizing: border-box;
    border-radius: 92px;

    /* filter: blur(1px); */
    backdrop-filter: blur(2px);
    border: 1px solid #000000;
}

.HandBackground {
    background: #2A2938;
}

.OpponentSlotBackground {
    background: linear-gradient(180deg, #6D7C84 0%, #2D283A 100%);
}

.PanelSeparation {
    background: linear-gradient(180deg, #6D7C84 0%, #A3B5BF 100%);
    border-radius: 41px;
}

#GameArea {
    position: absolute;
    width: 90%;
    height: 94.5%;
    top: 4%;
    left: 5%;
    margin: 0 auto;
}

#UpperAreaOutline {
    position: absolute;
    width: 90%;
    height: 46.5%;
    top: 4%;
    left: 5.1%;
    margin: 0 auto;

    border: 2px solid #000000;
}

#PlayAreaBackground {
    position: absolute;
    width: 90%;
    height: 188%;
    left: 5%;
    top: 13%;
    margin: 0 auto;
}

#PlayerDivisionLine {
    position: relative;
    width: 15%;
    height: 6px;
    left: 42.5%;
    top: 0px;

    background: #000000;
}