<div id="GameArea" class="ConsoleMetal">
    <div id="AreaOutlines">
        <div id="UpperAreaOutline" class="ConsoleAccents">
            <PlayerHeader />
            <OpponentHeader />
            <hr id="PlayerDivisionLine" />

            <PlayerScore />
            <OpponentScore />

            <PlayerRoundsWon />
            <OpponentRoundsWon />

            <div id="PlayAreaBackground" class="PanelSeparation">
                <PlayerGameArea />
                <OpponentGameArea />
            </div>
        </div>
    </div>
</div>