<div id="GameArea" class="ConsoleMetal">
    <div id="AreaOutlines">
        <div id="UpperAreaOutline" class="ConsoleAccents">
            <PlayerHeader />
            <OpponentHeader />
            <hr id="PlayerDivisionLine" />
            <!-- todo: PlayerScore -->
            <!-- todo: OpponentScore -->
            <div id="PlayAreaBackground" class="PanelSeparation">
                <OpponentGameArea />
                <PlayerGameArea />
            </div>
        </div>
    </div>
</div>