<container class="main-menu">
    <row class="menu-title">
        <container class="menu-title-text-container">
            <row class="menu-title-text">
                PURE PAZAAK
            </row>
        </container>
    </row>
    <row class="menu-option-1">
        <container class="menu-option-button-container">
            <button class="menu-option-button">
                Host Match
            </button>
        </container>
    </row>
    <row class="menu-option-2">
        <container class="menu-option-button-container">
            <button class="menu-option-button">
                Join Match
            </button>
        </container>
    </row>
    <row class="menu-option-3">
        <container class="menu-option-button-container">
            <button class="menu-option-button">
                Settings
            </button>
        </container>
    </row>
</container>