<div class="PazaakCardOutline">
  <div class="PazaakCardBackgroundTopEllipse">
  </div>
  <div class="PazaakCardBackgroundTop">
    <div class="PazaakCardUpperTriangle">
    </div>
    <div class="PazaakCardUpperTriangleInner">
    </div>
    <div class="PazaakCardLowerTriangle">
    </div>
    <div class="PazaakCardLowerTriangleInner">
    </div>
    <div class="PazaakCardValueBackground">
      <div class="PazaakCardValue">
        <input type="text" id="PazaakCardValueText" class="HeaderText" value="1" />
      </div>
    </div>
  </div>
  <div class="PazaakCardBackgroundTopEllipseHider">
  </div>
  <div class="PazaakCardBackgroundBottom">
  </div>
</div>