<div id="PazaakCardOutline">
  <div :class="backgroundColor" id="PazaakCardBackgroundTopEllipse">
  </div>
  <div :class="backgroundGradientColor" id="PazaakCardBackgroundTop">
    <div id="PazaakCardUpperTriangle">
    </div>
    <div id="PazaakCardUpperTriangleInner">
    </div>
    <div id="PazaakCardLowerTriangle">
    </div>
    <div id="PazaakCardLowerTriangleInner">
    </div>
    <div id="PazaakCardValueBackground">
      <div id="PazaakCardValue">
        <div id="PazaakCardValueText" class="HeaderText"  >
          {{ cardValue }}
        </div>
      </div>
    </div>
  </div>
  <div :class="backgroundColor" id="PazaakCardBackgroundTopEllipseHider">
  </div>
  <div :class="backgroundGradientColor" id="PazaakCardBackgroundBottom">
  </div>
</div>