<div
  id="PazaakCardOutline"
  :class="cardHoverStyle"
  @mouseover="cardAddHover"
  @mouseout="cardRemoveHover"
>
  <div :class="backgroundColor" id="PazaakCardIconEllipse">
  </div>
  <div :class="backgroundGradientColor" id="PazaakCardBackgroundTop">
    <div id="PazaakCardUpperTriangle">
    </div>
    <div id="PazaakCardUpperTriangleInner">
    </div>
    <div id="PazaakCardLowerTriangle">
    </div>
    <div id="PazaakCardLowerTriangleInner">
    </div>
    <div id="PazaakCardValueBackground">
      <div id="PazaakCardValue">
        <div
          id="PazaakCardValueText"
          class="HeaderText"
          v-if="cardType === 'plus' || cardType === '+/- plus'"
        >
          +{{ cardValue }} 
        </div>
        <div
          id="PazaakCardValueText"
          class="HeaderText"
          v-else-if="cardType === 'minus' || cardType === '+/- minus'"
        >
          -{{ cardValue }} 
        </div>
        <div
          id="PazaakCardValueText"
          class="HeaderText"
          v-else
        >
          {{ cardValue }} 
        </div>
      </div>
    </div>
  </div>
  <div :class="backgroundColor" id="PazaakCardIcon">
    <plus-icon v-if="cardType === 'plus' || cardType === '+/- plus'" :size="20" fillColor="#FFFFFF"/>
    <minus-icon v-else-if="cardType === 'minus' || cardType === '+/- minus'" :size="20" fillColor="#FFFFFF"/>
  </div>
  <div :class="backgroundGradientColor" id="PazaakCardBackgroundBottom">
  </div>
</div>