.PlayerHandCardRow {
    height: 70%;
    width: 100%;
}

#ModifierArea {
    position: relative;
    width: 75%;
    height: 33%;
    top: 4%;
    left: 20%;

    background: #242332; 
    border-radius: 6px;
}

#PlayerHandBackground {
    position: absolute;
    width: 100%;
    height: 55%;
    top: 16%;
    right: 5%;
}

#PlayerHandCardSlot {
    position: relative;
    top: -8%;
    width: 75%;
    height: 121.1%;

    margin-left: 20%;
    border-radius: 15px;
}

/* example for later mobile resolutions */
@media all and (max-width: 740px) {
    #PlayerHandCardSlot {
        position: relative;
        width: 70%;
        height: 90%;
        top: -20%;
        left: 0%;
    
        margin-left: 20%;
        border-radius: 15px;
    }
}