.player-hand-col {
  display: grid;
  justify-content: left;
}

.player-hand-grid {
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 15%;

  background-blend-mode: darken;
}