<v-container class="player-hand-grid">
  <div
    class="player-hand-col"
    v-for="colNum in 4"
    :key="colNum"
    cols="4"
  >
    <v-card
      class="CardSlotBackground"
      id="CardSlot"
      @click="playerUseSpecial({ cardIndex: colNum-1, cardAvailable: isCardAvailable(colNum-1) })"
    >
      <PazaakCard
        v-if="isCardAvailable(colNum-1)"
        :cardType="playerHand[colNum-1].cardType"
        :cardValue="playerHand[colNum-1].cardValue"
      />
    </v-card>
    <v-card
      id="ModifierArea"
    >
    </v-card>
  </div>
</v-container>