.ArrayCardRow {
    height: 33%;
    width: 100%;
}

#ArrayCardSlot {
    position: relative;
    width: 54.4%;
    height: 105%;
    left: 45%;

    border-radius: 15px;
}

/* example for later mobile resolutions */
@media all and (max-width: 740px) {
    #ArrayCardSlot {
        position: relative;
        width: 70%;
        height: 90%;
        top: -20%;
        left: 70%;
    
        border-radius: 15px;
    }
}


#PlayerCardArray {
    width: 100%;
    height: 56%;
    left: 50%;
    justify-content: center;
}