.OpponentHandCardRow {
    height: 70%;
    width: 100%;
}

#OpponentHandBackground {
    position: absolute;
    width: 100%;
    height: 55%;
    top: 16%;
    left: 5%;
}

#OpponentHandCardSlot {
    position: relative;
    top: -8%;
    width: 75%;
    height: 121.1%;

    margin-left: 20%;
    border-radius: 15px;
}

/* example for later mobile resolutions */
@media all and (max-width: 740px) {
    #OpponentHandCardSlot {
        position: relative;
        width: 70%;
        height: 90%;
        top: -20%;
        right: 3%;
    
        margin-right: 20%;
        border-radius: 15px;
    }
}