.opponent-hand-col {
  display: grid;
  justify-content: right;
}

.opponent-hand-grid {
  display: grid;
  margin-top: 7%;
  width: 100%;
  height: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 65% 15%;

  background-blend-mode: darken;
}