.opponent-card-col {
  display: grid;
  align-items: center;
  justify-content: center;

  row-gap: 10%;
}

.opponent-card-grid {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 56%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 32% 32% 32%;

    background-blend-mode: darken;
}