.OpponentCardArrayRow {
    height: 33%;
    width: 100%;
}

#OpponentCardArrayContainer {
    width: 100%;
    height: 56%;
    left: 50%;
    justify-content: center;
}

#OpponentCardArraySlot {
    position: relative;
    width: 54.4%;
    height: 105%;
    /* left: 12%; */
    left: 25%;

    border-radius: 15px;
}

/* example for later mobile resolutions */
@media all and (max-width: 740px) {
    #OpponentCardArraySlot {
        position: relative;
        width: 70%;
        height: 90%;
        top: -20%;
        left: 12%;
    
        border-radius: 15px;
    }
}