<v-container id="PlayerHandBackground" class="CardArrayBackground">
    <v-row
        class="PlayerHandCardRow"
    >
        <v-col
            v-for="colNum in 4"
            :key="colNum"
            cols="3"
            
        >
            <v-card
                id="PlayerHandCardSlot"
                class="CardSlotBackground"
            >

            </v-card>
        </v-col>
    </v-row>
    <v-row
        class="PlayerHandCardRow"
    >
        <v-col
            v-for="colNum in 4"
            :key="colNum"
            cols="3"
        >
            <v-card
                id="ModifierArea"
            >

            </v-card>
        </v-col>
    </v-row>
</v-container>