#OpponentGameArea1 {
    position: absolute;
    width: 48.5%;
    height: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    border: 2px solid #000;
    border-radius: 41px;
}

#OpponentGameArea2 {
    position: absolute;
    width: 54%;
    height: 46%;
    right: -5.6%;
    bottom: 0%;

    border: 2px solid #000000;
    border-left: none;
    border-radius: 41px;
}

#OpponentGameArea3 {
    position: absolute;
    width: 48.4%;
    height: 46%;
    right: 0.1%;
    bottom: 0%;

    border: 2px solid #000;
    border-top: none;
    border-right: none;
}