<v-container
  class="player-card-grid"
>
  <div
    class="player-card-col"
    v-for="colNum in 3"
    :key="colNum"
    cols="3"
  >
    <v-row
      v-for="rowNum in 3"
      :key="rowNum"
    >
      <v-card
        class="CardSlotBackground"
        id="CardSlot"
      >
        <PazaakCard
          v-if="cardIndex(colNum, rowNum) < playerCardArrayLength"
          :cardType="playerCardArray[cardIndex(colNum, rowNum)].cardType"
          :cardValue="playerCardArray[cardIndex(colNum, rowNum)].cardValue"
          :previouslyPlayed="true"
        />
      </v-card>
    </v-row>
  </div>
</v-container>
